@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

main {
    margin-top: 150px;
    width: 50%;
}

.btn{
    font-size: 20px;
    background: #d3a2a6;
    padding: 20px 34px;
    font-weight: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}